.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: rgba(26, 26, 26, 0.95);
    padding: 2rem;
    border-radius: var(--border-radius);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-btns {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.modal-btns button {
    flex: 1;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.2s;
}

.modal-btns button[type="submit"] {
    background-color: var(-primary-color);
    border: none;
    color: white;
}

.modal-btns button[type="button"] {
    background-color: transparent;
    border: 1px solid #444;
    color: white;
}

.modal-btns button[type="button"]:hover {
    background-color: #333;
}
